<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1" />
    <title>Word</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="profile">
      <ul>
          <li><span>Name:</span> Keyvan Hedayati</li>
          <li><span>Date:</span> 2014-02-28 12:08:25</li>
      </ul>
      <ul class="pull-right">
          <li><span>Teacher:</span> Mr Rahmdel</li>
          <li><span>Class:</span> Special English</li>
      </ul>
    </div>
  
    <div class="word">
      <h2>hello</h2>
      <span>hɛˈloʊ ; ˈhɛlˌoʊ</span>
      <hr/>
      <div class="definitions">
        <h3>Definition</h3>
        <ol>
        
          <li>used as a greeting or response, as in telephoning</li>
        
          <li>an instance of saying or exclaiming “hello”</li>
        
          <li>to say or exclaim “hello” (to)</li>
        
        </ol>
        <hr/>
      </div>

      <div class="synonyms">
        <h3>Synonyms</h3>
        <ul class="list-inline">
        
          <li>good afternoon</li>
        
          <li>good evening</li>
        
        </ul>
        <hr/>
      </div>
      <div class="examples">
        <h3>Examples</h3>
        <ul>
        
          <li>The priest usually remembered D'Amelio's name and would greet him with a casual " <strong>hello</strong>.</li>
        
        </ul>
      </div>
    </div>
  
    <div class="word">
      <h2>welcome</h2>
      <span>ˈwɛlkəm</span>
      <hr/>
      <div class="definitions">
        <h3>Definition</h3>
        <ol>
        
          <li>gladly and cordially received</li>
        
          <li>an act or expression of welcoming</li>
        
          <li>you are welcome here</li>
        
          <li>to greet with pleasure and hospitality</li>
        
        </ol>
        <hr/>
      </div>

      <div class="synonyms">
        <h3>Synonyms</h3>
        <ul class="list-inline">
        
          <li>greet</li>
        
          <li>acceptable</li>
        
          <li>salutation</li>
        
          <li>hospitality</li>
        
          <li>hail</li>
        
        </ul>
        <hr/>
      </div>
      <div class="examples">
        <h3>Examples</h3>
        <ul>
        
          <li>Of course, you're <strong>welcome</strong> to let people know that you found the victim.</li>
        
          <li>Baghdad was probably the last place he was <strong>welcome</strong> , or at least tolerable.</li>
        
        </ul>
      </div>
    </div>
  
    <div class="word">
      <h2>beam</h2>
      <span>bim</span>
      <hr/>
      <div class="definitions">
        <h3>Definition</h3>
        <ol>
        
          <li> the squared-off trunk of a tree</li>
        
          <li>a long, thick piece of wood, metal, or stone, used in building</li>
        
          <li>a shaft or stream of light or other radiation, as of X-rays or nuclear particles</li>
        
          <li>to give out (shafts of light); radiate in a beam or beams</li>
        
          <li>to shine brightly; be radiant</li>
        
        </ol>
        <hr/>
      </div>

      <div class="synonyms">
        <h3>Synonyms</h3>
        <ul class="list-inline">
        
          <li>glow</li>
        
          <li>send out</li>
        
          <li>glint</li>
        
          <li>grin</li>
        
          <li>spar</li>
        
          <li>support</li>
        
        </ul>
        <hr/>
      </div>
      <div class="examples">
        <h3>Examples</h3>
        <ul>
        
          <li>One man is shown braced against a support <strong>beam</strong> in the crush with his mouth wide open, his arms in the air.</li>
        
          <li>The jug skidded across the floor, came to rest against a support <strong>beam</strong>.</li>
        
        </ul>
      </div>
    </div>
  
    <div class="word">
      <h2>dictionary</h2>
      <span>ˈdɪkʃəˌnɛri</span>
      <hr/>
      <div class="definitions">
        <h3>Definition</h3>
        <ol>
        
          <li>a book of alphabetically listed words in a language, with definitions, etymologies,
               pronunciations, and other information; lexicon</li>
        
        </ol>
        <hr/>
      </div>

      <div class="synonyms">
        <h3>Synonyms</h3>
        <ul class="list-inline">
        
          <li>wordbook</li>
        
        </ul>
        <hr/>
      </div>
      <div class="examples">
        <h3>Examples</h3>
        <ul>
        
          <li>The <strong>dictionary</strong> offered gorge, gully, gulch, canyon, chasm, rift, abyss... A low place in the floor, then.</li>
        
          <li>Benjamin produced a Kiswahili interface for Google two years ago and edits an online <strong>dictionary</strong> for the language.</li>
        
        </ul>
      </div>
    </div>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>